<br>
<%= form_for @country, remote: true, :html => {:class => "form-vertical"} do |country| %>
  <div class="modal-body">
    <fieldset>

      <div class="control-group">
        <%= country.label :"Наименование", :class => "control-label" %>
        <div class="controls">
          <%= country.text_field :name, :class => "input-xlarge" %>
        </div>
      </div>
      <div class="control-group">
        <%= country.label :"Международное наименование", :class => "control-label" %>
        <div class="controls">
          <%= country.text_field :international_name, :class => "input-xlarge" %>
        </div>
      </div>

    </fieldset>
  </div>
  <div class="modal-footer">
    <button type="button" onclick="$('.country-form').html('')" class="btn btn-default close-modal" data-dismiss="modal">Закрыть</button>
    <%= country.submit value: "Сохранить", :class => "btn btn-primary", remote: true %>
  </div>
<% end %>